
<div class="header">
    <div>TODO</div>
    <div><img src="../../../assets/images/icon-moon.svg" alt=""></div>
</div>

<app-add-todo (addTodo)="onAddTodo($event)" ></app-add-todo>
<div class="todo-container">
<app-todo *ngFor="let currentTodo of todoList" [todo]="currentTodo" (deleteTodo)="onDeleteTodo($event)" (updateTodo)="onUpdateTodo($event)" ></app-todo>
<app-filters  [itemsNumber]="getItemsNumber()" (selectFilter)="selectFilter($event)" (clearCompleted)="onClearCompleted()"></app-filters>
</div>



