.filters{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:hsl(236, 9%, 61%);
    padding-left: 22px;
    padding-right: 22px;
    font-size: 15px;
}

.filter{
    cursor: pointer;
}

.filter:hover{
    color: hsl(235, 19%, 35%);
}

.active{
    color: hsl(220, 98%, 61%);
    font-weight: 700;
}
span{
    margin-right: 10px;
}